# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Windows-style newlines with a newline ending every file
[*]
end_of_line = crlf
insert_final_newline = true

# Don't use tabs for indentation.
indent_style = space

[*.cs]
indent_size = 4
trim_trailing_whitespace = true

[*.xml]
indent_size = 4
trim_trailing_whitespace = true
